/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04 Aug 2018, 3:41:30 PM
    Author     : Melissa
*/

.cent{
    text-align : center;
    background-color: #f1f1f1;
    font-size: 20px;
    color: #800517;
}

h1 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-stretch: expanded;
    color: #800517;
}

.flex-container {
  display: flex;
  background-color: #C47451;
  

}
.hov:hover{
    background-color: #993300;
}

.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
   background-color: #C47451;
   padding : 10px;
}
.flex-container > div {
    text-align :center;
  background-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  width : 25%;
  height : 20%;
  background: #f1f1f1;
}

/*text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
*/