<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <body background="Resources/background_3.jpg">
    <f:view contentType="text/html"  >
        <ui:composition template="/baseTemplate.xhtml"> 
            <ui:define name="content">
                <p:layout fullPage="true">
                    <p:layoutUnit position="north"  resizable="true" closable="true" collapsible="true">
<!--                        <div style="text-align: right">
                            <p:button value="Logout"/>
                        </div>-->

                        <div style="text-align: center">
                            <p:graphicImage url="/Resources/OddJobsConnect.png" width="200px" height="130px" />
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Browse" collapsible="true">
                        <h:body>
                            <h:form>
                                <p:menu>
                                    <p:submenu>
                                        <p:menuitem value="Home" action="/home.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Profile" action="/profile.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Post a Job" action="/postJob.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Search a Job" action="/home.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Logout" action="/welcome.xhtml?faces-redirect=true" />
                                    </p:submenu>
                                </p:menu>
                            </h:form>
                        </h:body>
                    </p:layoutUnit>

                    <p:layoutUnit position="center" size="100%">
                        <p:panel id="one" header="Dog Walker" toggleable="true" closable="true" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">

                        <p:ajax event="close" listener="#{panelView.onClose}"  />
                        <p:ajax event="toggle" listener="#{panelView.onToggle}" />

                         <h:panelGrid columns="2" cellpadding="10">
                            <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                            <h:outputText value="Trustworthy dog walker wanted with......" />
                        </h:panelGrid>  
                        
                        <div style="text-align: right">
                            <p:button value="View More" icon="fa fa-long-arrow-right" outcome="viewJob.xhtml?faces-redirect=true"/>
                        </div>

                        <f:facet name="options">
                            <p:menu>
                                <p:submenu label="Settings">
                                    <p:menuitem value="Toggle" url="#" icon="ui-icon-newwin" onclick="PF('panel').toggle()" />
                                    <p:menuitem value="Remove" url="#" icon="ui-icon-close" onclick="PF('panel').close()" />
                                </p:submenu>
                            </p:menu>
                        </f:facet>
                        </p:panel>  
                        
                        <p:panel id="two" header="Plumber" toggleable="true" closable="true" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">

                        <p:ajax event="close" listener="#{panelView.onClose}"  />
                        <p:ajax event="toggle" listener="#{panelView.onToggle}" />

                         <h:panelGrid columns="2" cellpadding="10">
                            <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                            <h:outputText value="Plumber with experience wanted for a weekend job..." />
                        </h:panelGrid>   
                        
                        <div style="text-align: right">
                            <p:button value="View More" icon="fa fa-long-arrow-right" outcome="viewJob.xhtml?faces-redirect=true"/>
                        </div>

                        <f:facet name="options">
                            <p:menu>
                                <p:submenu label="Settings">
                                    <p:menuitem value="Toggle" url="#" icon="ui-icon-newwin" onclick="PF('panel').toggle()" />
                                    <p:menuitem value="Remove" url="#" icon="ui-icon-close" onclick="PF('panel').close()" />
                                </p:submenu>
                            </p:menu>
                        </f:facet>
                        </p:panel> 


                        <p:panel id="three" header="Laundry Ironing" toggleable="true" closable="true" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">

                        <p:ajax event="close" listener="#{panelView.onClose}"  />
                        <p:ajax event="toggle" listener="#{panelView.onToggle}" />

                         <h:panelGrid columns="2" cellpadding="10">
                            <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                            <h:outputText value="Lady for laundry ironng required..." />
                        </h:panelGrid>        

                        <div style="text-align: right">
                            <p:button value="View More" icon="fa fa-long-arrow-right" outcome="viewJob.xhtml?faces-redirect=true"/>
                        </div>
                        
                        <f:facet name="options">
                            <p:menu>
                                <p:submenu label="Settings">
                                    <p:menuitem value="Toggle" url="#" icon="ui-icon-newwin" onclick="PF('panel').toggle()" />
                                    <p:menuitem value="Remove" url="#" icon="ui-icon-close" onclick="PF('panel').close()" />
                                </p:submenu>
                            </p:menu>
                        </f:facet>
                        </p:panel>
                    </p:layoutUnit>

                    <p:layoutUnit collapsible="true" position="east" size="175" header="New Jobs" >
                        <h:body>
                            <p:panel id="viewJob1" header="Waitress" style="margin-bottom:20px">
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputLabel value="This is the description of one job"/>
                                </h:panelGrid>
                            </p:panel>

                            <p:panel id="viewJob2" header="Pet sitter" style="margin-bottom:20px">
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputLabel value="This is the description of one job"/>
                                </h:panelGrid>
                            </p:panel>

                            <p:panel id="viewJob3" header="Valet" style="margin-bottom:20px">
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputLabel value="This is the description of one job"/>
                                </h:panelGrid>
                            </p:panel>
                        </h:body>
                    </p:layoutUnit>

        <!--            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    </p:layoutUnit>-->
                </p:layout>
            </ui:define>
        </ui:composition>
    </f:view>
    </body>
</html>
