<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <body> 
            <ui:composition template="/baseTemplate.xhtml"> 
                <ui:define name="content">
                    <p:layout fullPage="true">
                        <p:layoutUnit position="center" style="padding-bottom: 8%; padding-top: 8%; padding-left: 20%; padding-right: 20%;">
                            <div style="text-align: center">
                                <p:graphicImage url="/Resources/OddJobsConnect.png" width="200px" height="130px" />
                            </div>
                            <h:form>
                                <p:panel id="basic" header="Login" style="padding:5%;">
                                    <p:panelGrid columns="2" style="padding:1%;" styleClass="ui-noborder" >
                                        <p:outputLabel value="ID number/Email:"/>
                                        <p:inputMask id="numberId" value="ID number/Email:" mask="9999999999999"/>
                                        <p:outputLabel value="Password:"/>
                                        <p:password value="pass"/>
                                    </p:panelGrid>
                                    <p:panelGrid columns="1" style="padding:1%" styleClass="ui-noborder">
                                        <!--<p:outputLabel value="#{loginBean.loginMessage}" rendered="#{loginBean.loginMessage ne 'success'}" style="color:red;"/>-->
                                        <!--<p:commandButton value="Login" actionListener="home.xhtml?faces-redirect=true" ajax="false" />-->
                                        <p:button value="Login" icon="fa fa-unlock" outcome="home.xhtml" />
                                    </p:panelGrid>
                                </p:panel>
                            </h:form>
                        </p:layoutUnit>
                    </p:layout>
                </ui:define>
            </ui:composition>
        </body>
    </f:view>
</html>
