<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/baseTemplate.xhtml"> 
            <ui:define name="content">
                <p:layoutUnit position="center" style="padding-bottom: 10%; padding-left: 20%; padding-right: 20%;">
                    <div style="text-align: center">
                        <p:graphicImage url="/Resources/OddJobsConnect_v3.png" width="250px" height="150px" />
                    </div>
                    <h:form enctype="multipart/form-data"> 
                        <p:panel id="basic" header="Post A Job" style="width:100%">
                            <h:panelGrid columns="2" cellpadding="10">            

                                <p:outputLabel value="Job Title:"/>
                                    <p:inputText />
                                <p:outputLabel value="Skills:"/>
                                    <p:inputText />
                                <p:outputLabel value="Job Duration:"/>
                                    <p:inputText />
                                <p:outputLabel value="Job Payment:"/>
                                    <p:inputText />
                                <p:outputLabel value="No Of People Required For The Job:"/>
                                    <p:inputText />   
                                <p:outputLabel value="Date:"/>
                                    <p:inputText />
                                <p:outputLabel value="Time:"/>
                                    <p:inputText />
                                <p:outputLabel value="Location:"/>
                                    <p:inputText /> 

                                <p:commandButton value="Submit" ajax="false" actionListener="#{fileUploadView.upload}" disabled="false" />

                            </h:panelGrid>
                        </p:panel>
                    </h:form> 
                </p:layoutUnit>
            </ui:define>
        </ui:composition>
    </body>
</html>
