<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/baseTemplate.xhtml"> 
            <ui:define name="content">
                <p:layoutUnit position="center" style="padding-bottom: 10%; padding-left: 20%; padding-right: 20%;">
                    <div style="text-align: center">
                        <p:graphicImage url="/Resources/OddJobsConnect_v3.png" width="250px" height="150px" />
                    </div>
                    <h:form enctype="multipart/form-data"> 

                        <p:panel id="basic" header="My Profile" style="width:100%">
                            <p:panelGrid columns="2" style="width:100%">
                                <f:facet name="header">
                                    
                                    <p> <img src="Resources/propic.png" alt=""/></p>
                                </f:facet>

                                <h:outputText value="Full Name" />
                                <h:outputText value="Mob Coders" />

                                <h:outputText value="Cell Number" />
                                <h:outputText value="000 000 0000" />

                                <h:outputText value="Self Description" />
                                <h:outputText value="" />

                                <h:outputText value="Skills" />
                                <h:outputText value="" />
                            </p:panelGrid>     

                            <h:panelGrid columns="2" cellpadding="10">      

                            <p:outputLabel value="Self Description:"/>
                            <p:inputTextarea rows="5" cols="30"  maxlength="10" counterTemplate="{0} characters remaining." autoResize="false" />


                                <p:outputLabel for="addSkill" value="Add Skill:" />
                                <p:selectManyMenu id="addSkill" value="#{selectManyView.selectedThemes}" 
                                                  var="t" filter="true" filterMatchMode="contains" showCheckbox="true">
                                    <f:selectItems value="#{selectManyView.themes}" var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme}" />

                                    <p:column>
                                        <h:outputText styleClass="ui-theme ui-theme-#{t.name}" />
                                    </p:column>

                                    <p:column>
                                        <h:outputText value="#{t.displayName}" />
                                    </p:column>
                                </p:selectManyMenu> 

                                <p:outputLabel value="Upload Profile Picture:"/> 
                                <p:fileUpload value="#{fileUploadView.file}" mode="simple" skinSimple="true"/>         

                                <p:commandButton value="Submit" ajax="false" actionListener="#{fileUploadView.upload}" disabled="false" />

                            </h:panelGrid>
                        </p:panel>

                    </h:form>
                </p:layoutUnit>
            </ui:define>
        </ui:composition>
    </body>
</html>
