<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/baseTemplate.xhtml"> 
            <ui:define name="content">
                <p:layout fullPage="true">
                    <p:layoutUnit position="center" style="padding-bottom: 8%; padding-top: 8%; padding-left: 20%; padding-right: 20%;">
                        <div style="text-align: center">
                            <p:graphicImage url="/Resources/OddJobsConnect.png" width="200px" height="130px" />
                        </div>
                        <h:form>       
                            <p:panel id="basic" header="Registration" style="padding:5%">
                                <h:panelGrid columns="2" style="padding:1%">            
                                    <p:outputLabel value="Full Name:"/>
                                        <p:inputText />
                                    <p:outputLabel value="ID number:"/>
                                    <p:inputMask id="numberId" value="ID number:" mask="9999999999999"/>
                                    <p:outputLabel value="Cell Number:"/>
                                        <p:inputText />
                                    <p:outputLabel value="Email:"/>
                                        <p:inputText />
                                    <p:outputLabel value="Race:"/>
                                        <p:inputText />
                                    <p:outputLabel value="Gender:"/>
                                        <p:inputText />   

                                    <p:outputLabel value="Certified ID Copy*"/> 
                                    <p:fileUpload value="" mode="simple" skinSimple="true"/>

                                    <p:outputLabel value="3 Months Police Clearance*"/> 
                                    <p:fileUpload value="" mode="simple" skinSimple="true"/>         

                                    <p:button value="Submit" icon="fa fa-user" outcome="home.xhtml?faces-redirect=true"/>
                                </h:panelGrid>
                            </p:panel>
                        </h:form> 
                    </p:layoutUnit>
                </p:layout>
            </ui:define>
        </ui:composition>
    </body>
</html>
