<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <body background="Resources/background_3.jpg">
    <f:view contentType="text/html"  >
        <ui:composition template="/baseTemplate.xhtml"> 
            <ui:define name="content">
                <p:layout fullPage="true">
                    <p:layoutUnit position="north"  resizable="true" closable="true" collapsible="true">
<!--                        <div style="text-align: right">
                            <p:button value="Logout"/>
                        </div>-->

                        <div style="text-align: center">
                            <p:graphicImage url="/Resources/OddJobsConnect.png" width="200px" height="130px" />
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Browse" collapsible="true">
                        <h:body>
                            <h:form>
                                <p:menu>
                                    <p:submenu>
                                        <p:menuitem value="Home" action="/home.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Profile" action="/profile.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Post a Job" action="/postJob.xhtml?faces-redirect=true" />
                                        <p:menuitem value="Logout" action="/welcome.xhtml?faces-redirect=true" />
                                    </p:submenu>
                                </p:menu>
                            </h:form>
                        </h:body>
                    </p:layoutUnit>

                    <p:layoutUnit position="center" size="100%">
                        <p:panel id="viewJob" header="View Job">
                            <h:panelGrid columns="2" cellpadding="10px">
                                <p:outputLabel value="Title:" />
                                <p:outputLabel value="Waiter/Waitress" />

                                <p:outputLabel value="Date:" />
                                <p:outputLabel value="10/08/2018" />

                                <p:outputLabel value="Time:" />
                                <p:outputLabel value="18h00" />

                                <p:outputLabel value="Duration:" />
                                <p:outputLabel value="6hrs" />

                                <p:outputLabel value="Location:" />
                                <p:outputLabel value="58 Synth Ave,Johannesburg,Gauteng" />

                                <p:outputLabel value="Number of people:" />
                                <p:outputLabel value="5" />

                                <p:outputLabel value="Description:" />
                                <p:outputLabel value="5 people required to serve food and drinks at the Gala. " />
                            </h:panelGrid>

                            <p:panelGrid columns="1" style="padding:1%" styleClass="ui-noborder">
                                <p:outputLabel value="#{viewJobBean.viewJobMessage}" rendered="#{viewJobBean.viewJobMessage ne 'success'}" style="color:red;"/>
                            </p:panelGrid>

                            <div style="text-align: right">
                                <p:button value="Apply" onclick="myFunction()" rendered="#{viewJobBean.applied ne 'true'}"/>
                                <p:button value="Revoke Application" rendered="#{viewJobBean.applied eq 'true'}" />
                            </div>
                            
                            <script>
function myFunction() {
  alert("Job application processed successfully");
}
</script>
                        </p:panel>                
                    </p:layoutUnit>

                    <p:layoutUnit collapsible="true" position="east" size="175" header="New Jobs" >
                        <h:body>
                            <p:panel id="viewJob1" header="Waitress" style="margin-bottom:20px">
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputLabel value="This is the description of one job"/>
                                </h:panelGrid>
                            </p:panel>

                            <p:panel id="viewJob2" header="Pet sitter" style="margin-bottom:20px">
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputLabel value="This is the description of one job"/>
                                </h:panelGrid>
                            </p:panel>

                            <p:panel id="viewJob3" header="Valet" style="margin-bottom:20px">
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputLabel value="This is the description of one job"/>
                                </h:panelGrid>
                            </p:panel>
                        </h:body>
                    </p:layoutUnit>

        <!--            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    </p:layoutUnit>-->
                </p:layout>
            </ui:define>
        </ui:composition>
    </f:view>
    </body>
</html>
