<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   
    <h:head>
        <link type="text/css" rel="stylesheet" href="css/welcome.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </h:head>
    <body ><!--background="Resources/background_3.jpg"-->

        <!--<form align="right" name="form1" method="post" action="log_out.php" background="Resources/background_3.jpg">-->
        <div style="text-align: right">
            <p:button  value="login" icon="fa fa-unlock"  outcome="faces/login.xhtml"/>                 
            <p:button value="Register" icon="fa fa-user" outcome="register.xhtml"/>
        </div>
        <!--</form>-->         
        <div style="text-align: center">
            <p:graphicImage url="/Resources/OddJobsConnect_v3.png" width="250px" height="150px" />
        </div>
        
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="Resources/safe_place.jpg" alt="safePlace" style="width:100%;height:20%"/>
                  <div class="carousel-caption">
                  </div>
                </div>

                <div class="item">
                  <img src="Resources/safepost.jpg" alt="safePost" style="width:100%;height:20%"/>
                  <div class="carousel-caption">
                  </div>
                </div>

                <div class="item">
                  <img src="Resources/help.jpg" alt="help" style="width:100%;height:20%"/>
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <br/>
        <div class="flex-container">            
            <p:panel class="hov" id="basic" header="Bartender"  style="margin-bottom:0px;height: 250px">
                <h:panelGrid columns="1" cellpadding="0">
                    <p> Skills : Mixing drinks </p>
                    <p> Duration : 2 days</p>
                    <p> Payment : R800</p>
                </h:panelGrid>
            </p:panel>
            <p:panel class="hov" id="basic" header="Dog Sitter"  style="margin-bottom:0px;height: 250px">
                <h:panelGrid columns="1" cellpadding="0">
                    <p> Skills : Loves animals </p>
                    <p> Duration : 6 hrs</p>
                    <p> Payment : R400</p>
                </h:panelGrid>
            </p:panel>
            <p:panel class="hov" id="basic" header="Domestic Cleaner" style="margin-bottom:0px;height: 250px">
                <h:panelGrid columns="2" cellpadding="0">
                    <p> Skills : Cleaning, Ironing, Washing Laundry </p>
                    <p> Duration : 1 day</p>
                    <p> Payment : R500</p>
                </h:panelGrid>
            </p:panel>
            <p:panel class="hov" id="basic" header="Dishwasher"  style="margin-bottom:10px;height: 250px">
                <h:panelGrid columns="1" cellpadding="0">
                    <p> Skills : Fast paced </p>
                    <p> Duration : 1 day</p>
                    <p> Payment : R800</p>
                </h:panelGrid>
            </p:panel>
        </div>
<br/>
<div class="cent">
    <a  href="register.xhtml"> Click here to register as a Job seeker or to post a Job, just sign up and get started </a>
</div>
   <br/>
   <br/>
   <p:accordionPanel>
        <p:tab title="No need for qualitications">
            <h:panelGrid columns="2" cellpadding="10">
                <img src="noprob.jpg" alt="" width="20%"/>
                <h:outputText
                    value="You dont need to have qualifications inorder to get short-listed for a job. Login if you have an account already using your ID or Register and get the latest on available jobs" />
            </h:panelGrid>
        </p:tab>
        <p:tab title="Security">
            <h:panelGrid columns="2" cellpadding="10">
                <img src="sec.jpg" alt="" width="20%"/>
                <h:outputText value="Your information will be completely secure and will not be used for any other purpose without your concern" />
            </h:panelGrid>
        </p:tab>
        <p:tab title="Identification">
            <h:panelGrid columns="2" cellpadding="10">
                <img src="ID.jpg" alt="" width="20%"/>
                <h:outputText value="You need to have a valid ID inorder for your account to be verified for security purposes" />
            </h:panelGrid>
        </p:tab>
        <p:tab title="Contact Us">
            <h:panelGrid columns="2" cellpadding="10">
                
                <p:outputLabel value="Telephone:  011 123 4567" /> <br/>
                <p:outputLabel value="Email:  oddjobsconnect@gmail.com" /> <br/>
                <p:outputLabel value="Follow us on social media:  @oddjobsconnect" />                
            </h:panelGrid>
        </p:tab>
    </p:accordionPanel>
   <br/>
   <br/>
    </body>
    <footer>
          Web App by MOB_CODERS.com
</footer>
</html>
